@charset "UTF-8";

/* Light theme color */
$light-background: rgb(245, 245, 245);
$light-background-secondary: #e7e7e7; //#eaeaea
$light-background-header: #eeeded;
$light-color: #222;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;
$light-hightlight-orange: #ff7300;
$light-hightlight-yellow: #ec8e00;

/* Dark theme colors */
$dark-background: #252423;
$dark-background-secondary: #363433;
$dark-background-header: #1d1d1b;
$dark-color: #c4c0ba;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;
$dark-hightlight-orange: #ffa000;
$dark-hightlight-yellow: #e6b822;

$hightlight-yellow: #e6b822;
// $hightlight-yellow: #f3c327;
$hightlight-orange: #ffa000;
// $hightlight-orange-dark: #ffa000;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 1000px;