.chroma {
	color: #f8f8f2;
	background-color: #2e2c2b;
	.err {
		color: #960050;
		background-color: #1e0010;
	}
	.lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: auto;
		overflow: auto;
		display: block;
	}
	.hl {
		display: block;
		width: 100%;
		background-color: #ffffcc;
	}
	.lnt {
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #7f7f7f;
	}
	.ln {
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #7f7f7f;
	}
	.k {
		color: #66d9ef;
	}
	.kc {
		color: #66d9ef;
	}
	.kd {
		color: #66d9ef;
	}
	.kn {
		color: #f92672;
	}
	.kp {
		color: #66d9ef;
	}
	.kr {
		color: #66d9ef;
	}
	.kt {
		color: #66d9ef;
	}
	.na {
		color: #a6e22e;
	}
	.nc {
		color: #a6e22e;
	}
	.no {
		color: #66d9ef;
	}
	.nd {
		color: #a6e22e;
	}
	.ne {
		color: #a6e22e;
	}
	.nf {
		color: #a6e22e;
	}
	.nx {
		color: #a6e22e;
	}
	.nt {
		color: #f92672;
	}
	.l {
		color: #ae81ff;
	}
	.ld {
		color: #e6db74;
	}
	.s {
		color: #e6db74;
	}
	.sa {
		color: #e6db74;
	}
	.sb {
		color: #e6db74;
	}
	.sc {
		color: #e6db74;
	}
	.dl {
		color: #e6db74;
	}
	.sd {
		color: #e6db74;
	}
	.s2 {
		color: #e6db74;
	}
	.se {
		color: #ae81ff;
	}
	.sh {
		color: #e6db74;
	}
	.si {
		color: #e6db74;
	}
	.sx {
		color: #e6db74;
	}
	.sr {
		color: #e6db74;
	}
	.s1 {
		color: #e6db74;
	}
	.ss {
		color: #e6db74;
	}
	.m {
		color: #ae81ff;
	}
	.mb {
		color: #ae81ff;
	}
	.mf {
		color: #ae81ff;
	}
	.mh {
		color: #ae81ff;
	}
	.mi {
		color: #ae81ff;
	}
	.il {
		color: #ae81ff;
	}
	.mo {
		color: #ae81ff;
	}
	.o {
		color: #f92672;
	}
	.ow {
		color: #f92672;
	}
	.c {
		color: #75715e;
	}
	.ch {
		color: #75715e;
	}
	.cm {
		color: #75715e;
	}
	.c1 {
		color: #75715e;
	}
	.cs {
		color: #75715e;
	}
	.cp {
		color: #75715e;
	}
	.cpf {
		color: #75715e;
	}
	.gd {
		color: #f92672;
	}
	.ge {
		font-style: italic;
	}
	.gi {
		color: #a6e22e;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		color: #75715e;
	}
}
