

{{ $style := resources.Get "/js/backtotop.js" }}

<script defer language="javascript" type="text/javascript"  src="{{ $style.Permalink }}"></script>
<script defer language="javascript" type="text/javascript"  src="{{ "/js/main.js" | urlize | relURL }}"></script>
<script defer language="javascript" type="text/javascript"  src="{{ "/js/menu.js" | urlize | relURL }}"></script>



{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}"></script>
    {{ end }}
{{ end }}



