

{{ $backtotop := resources.Get "/js/backtotop.js" }}
{{ $main := resources.Get "/js/main.js" }}
{{ $menu := resources.Get "/js/menu.js" }}


<script defer language="javascript" type="text/javascript"  src="{{ $main.Permalink }}"></script>
<script defer language="javascript" type="text/javascript"  src="{{ $menu.Permalink }}"></script>
<script defer language="javascript" type="text/javascript"  src="{{ $backtotop.Permalink }}"></script>  



{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}"></script>
    {{ end }}
{{ end }}



