<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="Capa_1"
   x="0px"
   y="0px"
   width="100%"
   height="100%"
   viewBox="0 0 300 300"
   style="enable-background:new 0 0 310.42 310.42;"
   xml:space="preserve"
   sodipodi:docname="magnifier.svg"
   inkscape:version="1.0.2-2 (e86c870879, 2021-01-15)"><metadata
   id="metadata47"><rdf:RDF><cc:Work
       rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
         rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
   id="defs45" /><sodipodi:namedview
   pagecolor="#ffffff"
   bordercolor="#666666"
   borderopacity="1"
   objecttolerance="10"
   gridtolerance="10"
   guidetolerance="10"
   inkscape:pageopacity="0"
   inkscape:pageshadow="2"
   inkscape:window-width="1844"
   inkscape:window-height="1057"
   id="namedview43"
   showgrid="false"
   inkscape:zoom="2.027334"
   inkscape:cx="196.11542"
   inkscape:cy="182.64093"
   inkscape:window-x="-8"
   inkscape:window-y="-8"
   inkscape:window-maximized="1"
   inkscape:current-layer="Capa_1" />
<g
   id="g10"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
	<g
   id="g8"
   style="fill:#c4c0ba;fill-opacity:1">
		<path
   d="m 273.587,214.965 c 49.11,-49.111 49.109,-129.021 0,-178.132 -49.111,-49.111 -129.02,-49.111 -178.13,0 C 53.793,78.497 47.483,140.462 76.51,188.85 c 0,0 2.085,3.498 -0.731,6.312 -16.065,16.064 -64.263,64.263 -64.263,64.263 -12.791,12.79 -15.836,30.675 -4.493,42.02 l 1.953,1.951 c 11.343,11.345 29.229,8.301 42.019,-4.49 0,0 48.096,-48.097 64.128,-64.128 2.951,-2.951 6.448,-0.866 6.448,-0.866 48.387,29.026 110.352,22.717 152.016,-18.947 z M 118.711,191.71 C 82.423,155.422 82.424,96.378 118.712,60.09 c 36.288,-36.287 95.332,-36.288 131.619,0 36.288,36.287 36.288,95.332 0,131.62 -36.288,36.286 -95.331,36.286 -131.62,0 z"
   id="path2"
   style="fill:#c4c0ba;fill-opacity:1" />
		<g
   id="g6"
   style="fill:#c4c0ba;fill-opacity:1">
			<path
   d="m 126.75,118.424 c -1.689,0 -3.406,-0.332 -5.061,-1.031 -6.611,-2.798 -9.704,-10.426 -6.906,-17.038 17.586,-41.559 65.703,-61.062 107.261,-43.476 6.611,2.798 9.704,10.426 6.906,17.038 -2.799,6.612 -10.425,9.703 -17.039,6.906 -28.354,-11.998 -61.186,1.309 -73.183,29.663 -2.099,4.959 -6.913,7.938 -11.978,7.938 z"
   id="path4"
   style="fill:#c4c0ba;fill-opacity:1" />
		</g>
	</g>
</g>
<g
   id="g12"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g14"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g16"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g18"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g20"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g22"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g24"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g26"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g28"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g30"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g32"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g34"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g36"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g38"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
<g
   id="g40"
   transform="matrix(-1,0,0,1,310.41981,0)"
   style="fill:#c4c0ba;fill-opacity:1">
</g>
</svg>
